<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameSpeed</key>
	<integer>205</integer>
	<key>nightSpeed</key>
	<integer>265</integer>
	<key>background_top</key>
	<string>factory_sky_light_top.jpg</string>
	<key>background_bot</key>
	<string>factory_sky_light_bot.jpg</string>
	<key>backgroundNight_top</key>
	<string>factory_sky_dark_top.jpg</string>
	<key>backgroundNight_bot</key>
	<string>factory_sky_dark_bot.jpg</string>
	<key>skyscraper</key>
	<string>factory_wall.png</string>
	<key>smallObstacles</key>
	<dict>
		<key>pulleys.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>50</integer>
			<key>xCoordRight</key>
			<integer>260</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>10</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>girders.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>69</integer>
			<key>xCoordRight</key>
			<integer>251</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>20</integer>
		</dict>
		<key>beam.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>largeObstacles</key>
	<dict>
		<key>cab.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>40</integer>
			<key>xCoordRight</key>
			<integer>280</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>25</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>sign.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>85</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>15</integer>
		</dict>
		<key>crane.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>92</integer>
			<key>xCoordRight</key>
			<integer>230</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>10</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>catwalk.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>75</integer>
			<key>xCoordRight</key>
			<integer>242</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>15</integer>
		</dict>
		<key>pipe.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>103</integer>
			<key>xCoordRight</key>
			<integer>215</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>2</integer>
			<key>hAdjust</key>
			<integer>60</integer>
		</dict>
		<key>factory_ball.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>166</integer>
			<key>xCoordRight</key>
			<integer>169</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>longObstacles</key>
	<dict>
		<key>line.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>0</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>20</integer>
			<key>left</key>
			<integer>-185</integer>
			<key>right</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>icon_disco.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_lives.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_jackhammer.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
