<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameSpeed</key>
	<integer>160</integer>
	<key>nightSpeed</key>
	<integer>220</integer>
	<key>background_top</key>
	<string>daylightBG_2000_top.jpg</string>
	<key>background_bot</key>
	<string>daylightBG_2000_bot.jpg</string>
	<key>backgroundNight_top</key>
	<string>sunsetBG_2000_top.jpg</string>
	<key>backgroundNight_bot</key>
	<string>sunsetBG_2000_bot.jpg</string>
	<key>skyscraper</key>
	<string>buildings.png</string>
	<key>smallObstacles</key>
	<dict>
		<key>flagpole_100.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>257</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>billboard_cut.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>92</integer>
			<key>xCoordRight</key>
			<integer>230</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>15</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>tv_antenna_100.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>250</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>thunderbox_90.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>250</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>largeObstacles</key>
	<dict>
		<key>balcony_180.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>68</integer>
			<key>xCoordRight</key>
			<integer>252</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>2</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>metalpole_180.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>85</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>3</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>awning_80.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>95</integer>
			<key>xCoordRight</key>
			<integer>227</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>25</integer>
		</dict>
		<key>balloon.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>160</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>longObstacles</key>
	<dict>
		<key>clothesline_280.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>0</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>15</integer>
			<key>left</key>
			<integer>-192</integer>
			<key>right</key>
			<integer>167</integer>
		</dict>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>icon_disco.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_lives.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_jackhammer.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
