<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameSpeed</key>
	<integer>175</integer>
	<key>nightSpeed</key>
	<integer>235</integer>
	<key>background_top</key>
	<string>desertBG_blueyellow_top.jpg</string>
	<key>background_bot</key>
	<string>desertBG_blueyellow_bot.jpg</string>
	<key>backgroundNight_top</key>
	<string>desertBG_purple_top.jpg</string>
	<key>backgroundNight_bot</key>
	<string>desertBG_purple_bot.jpg</string>
	<key>skyscraper</key>
	<string>cliff_wall.png</string>
	<key>smallObstacles</key>
	<dict>
		<key>stone_balcony_150.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>30</integer>
			<key>xCoordRight</key>
			<integer>290</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>rocks_128.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>250</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>10</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>cactus_120.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>birdhouse_120.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>64</integer>
			<key>xCoordRight</key>
			<integer>260</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>10</integer>
			<key>hAdjust</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>largeObstacles</key>
	<dict>
		<key>snake_170.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>250</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>totem_pole_200.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>85</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>tree_150.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>92</integer>
			<key>xCoordRight</key>
			<integer>230</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>40</integer>
		</dict>
		<key>tumbleweed.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>160</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>15</integer>
		</dict>
	</dict>
	<key>longObstacles</key>
	<dict>
		<key>hanging_chillies_275.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>0</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>18</integer>
			<key>left</key>
			<integer>-193</integer>
			<key>right</key>
			<integer>167</integer>
		</dict>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>icon_disco.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_lives.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_jackhammer.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
