<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameSpeed</key>
	<integer>190</integer>
	<key>nightSpeed</key>
	<integer>250</integer>
	<key>background_top</key>
	<string>crevasseBG_Green_top.jpg</string>
	<key>background_bot</key>
	<string>crevasseBG_Green_bot.jpg</string>
	<key>backgroundNight_top</key>
	<string>crevasseBG_Night_top.jpg</string>
	<key>backgroundNight_bot</key>
	<string>crevasseBG_Night_bot.jpg</string>
	<key>skyscraper</key>
	<string>crevasse_wall.png</string>
	<key>smallObstacles</key>
	<dict>
		<key>caveman_130.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>50</integer>
			<key>xCoordRight</key>
			<integer>260</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>5</integer>
		</dict>
		<key>skull_105.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>60</integer>
			<key>xCoordRight</key>
			<integer>240</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>15</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>branch_120.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>70</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>7</integer>
			<key>hAdjust</key>
			<integer>25</integer>
		</dict>
		<key>ice_boulder_small_120.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>64</integer>
			<key>xCoordRight</key>
			<integer>260</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>largeObstacles</key>
	<dict>
		<key>ice_boulder_big_200.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>40</integer>
			<key>xCoordRight</key>
			<integer>280</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>10</integer>
		</dict>
		<key>plane_180.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>85</integer>
			<key>xCoordRight</key>
			<integer>245</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>log_160.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>92</integer>
			<key>xCoordRight</key>
			<integer>230</integer>
			<key>flipped</key>
			<true/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>15</integer>
		</dict>
		<key>snowball.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>160</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>5</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>longObstacles</key>
	<dict>
		<key>rope_275.png</key>
		<dict>
			<key>xCoordLeft</key>
			<integer>160</integer>
			<key>xCoordRight</key>
			<integer>0</integer>
			<key>flipped</key>
			<false/>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>20</integer>
			<key>left</key>
			<integer>-185</integer>
			<key>right</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>icon_disco.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_lives.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
		<key>icon_jackhammer.png</key>
		<dict>
			<key>xCoord</key>
			<integer>160</integer>
			<key>wAdjust</key>
			<integer>0</integer>
			<key>hAdjust</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
