<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>awning_80.png</key>
		<dict>
			<key>x</key>
			<real>1392</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>160</real>
			<key>height</key>
			<real>182</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>160</real>
			<key>originalHeight</key>
			<real>182</real>
		</dict>
		
		<key>balcony_180.png</key>
		<dict>
			<key>x</key>
			<real>1384</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>360</real>
			<key>height</key>
			<real>163</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>360</real>
			<key>originalHeight</key>
			<real>163</real>
		</dict>
		
		<key>balloon.png</key>
		<dict>
			<key>x</key>
			<real>932</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>148</real>
			<key>height</key>
			<real>165</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>148</real>
			<key>originalHeight</key>
			<real>165</real>
		</dict>
		
		<key>beam.png</key>
		<dict>
			<key>x</key>
			<real>308</real>
			<key>y</key>
			<real>1545</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>64</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>64</real>
		</dict>
		
		<key>billboard_cut.png</key>
		<dict>
			<key>x</key>
			<real>1516</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>150</real>
			<key>height</key>
			<real>217</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>150</real>
			<key>originalHeight</key>
			<real>217</real>
		</dict>
		
		<key>birdhouse_120.png</key>
		<dict>
			<key>x</key>
			<real>550</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>279</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>279</real>
		</dict>
		
		<key>bone_160.png</key>
		<dict>
			<key>x</key>
			<real>792</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>249</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>249</real>
		</dict>
		
		<key>branch_120.png</key>
		<dict>
			<key>x</key>
			<real>1182</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>178</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>178</real>
		</dict>
		
		<key>cab.png</key>
		<dict>
			<key>x</key>
			<real>522</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>470</real>
			<key>height</key>
			<real>344</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>470</real>
			<key>originalHeight</key>
			<real>344</real>
		</dict>
		
		<key>cactus_120.png</key>
		<dict>
			<key>x</key>
			<real>1766</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>catwalk.png</key>
		<dict>
			<key>x</key>
			<real>708</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>280</real>
			<key>height</key>
			<real>187</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>187</real>
		</dict>
		
		<key>caveman_130.png</key>
		<dict>
			<key>x</key>
			<real>260</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>260</real>
			<key>height</key>
			<real>353</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>260</real>
			<key>originalHeight</key>
			<real>353</real>
		</dict>
		
		<key>clothesline_280.png</key>
		<dict>
			<key>x</key>
			<real>1036</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>560</real>
			<key>height</key>
			<real>108</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>560</real>
			<key>originalHeight</key>
			<real>108</real>
		</dict>
		
		<key>crane.png</key>
		<dict>
			<key>x</key>
			<real>1114</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>400</real>
			<key>height</key>
			<real>235</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>400</real>
			<key>originalHeight</key>
			<real>235</real>
		</dict>
		
		<key>factory_ball.png</key>
		<dict>
			<key>x</key>
			<real>1542</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>128</real>
			<key>height</key>
			<real>174</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>128</real>
			<key>originalHeight</key>
			<real>174</real>
		</dict>
		
		<key>flagpole_100.png</key>
		<dict>
			<key>x</key>
			<real>1740</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>200</real>
			<key>height</key>
			<real>101</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>200</real>
			<key>originalHeight</key>
			<real>101</real>
		</dict>
		
		<key>girders.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>209</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>209</real>
		</dict>
		
		<key>hanging_chillies_275.png</key>
		<dict>
			<key>x</key>
			<real>484</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>550</real>
			<key>height</key>
			<real>126</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>550</real>
			<key>originalHeight</key>
			<real>126</real>
		</dict>
		
		<key>ice_boulder_big_200.png</key>
		<dict>
			<key>x</key>
			<real>1356</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>400</real>
			<key>height</key>
			<real>319</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>400</real>
			<key>originalHeight</key>
			<real>319</real>
		</dict>
		
		<key>ice_boulder_small_120.png</key>
		<dict>
			<key>x</key>
			<real>308</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>240</real>
			<key>height</key>
			<real>293</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>240</real>
			<key>originalHeight</key>
			<real>293</real>
		</dict>
		
		<key>icon_disco.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1545</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>100</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>100</real>
			<key>originalHeight</key>
			<real>100</real>
		</dict>
		
		<key>icon_freeze.png</key>
		<dict>
			<key>x</key>
			<real>104</real>
			<key>y</key>
			<real>1545</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>100</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>100</real>
			<key>originalHeight</key>
			<real>100</real>
		</dict>
		
		<key>icon_jackhammer.png</key>
		<dict>
			<key>x</key>
			<real>206</real>
			<key>y</key>
			<real>1545</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>100</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>100</real>
			<key>originalHeight</key>
			<real>100</real>
		</dict>
		
		<key>icon_lives.png</key>
		<dict>
			<key>x</key>
			<real>1942</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>100</real>
			<key>height</key>
			<real>100</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>100</real>
			<key>originalHeight</key>
			<real>100</real>
		</dict>
		
		<key>line.png</key>
		<dict>
			<key>x</key>
			<real>670</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>550</real>
			<key>height</key>
			<real>150</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>550</real>
			<key>originalHeight</key>
			<real>150</real>
		</dict>
		
		<key>log_160.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>320</real>
			<key>height</key>
			<real>162</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>320</real>
			<key>originalHeight</key>
			<real>162</real>
		</dict>
		
		<key>mc_01.png</key>
		<dict>
			<key>x</key>
			<real>120</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_02.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_03.png</key>
		<dict>
			<key>x</key>
			<real>1912</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_04.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>118</real>
			<key>height</key>
			<real>132</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>24</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_05.png</key>
		<dict>
			<key>x</key>
			<real>1894</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>124</real>
			<key>height</key>
			<real>134</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>28</real>
			<key>originalWidth</key>
			<real>190</real>
			<key>originalHeight</key>
			<real>190</real>
		</dict>
		
		<key>mc_06.png</key>
		<dict>
			<key>x</key>
			<real>1774</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>118</real>
			<key>height</key>
			<real>146</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>17</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_07.png</key>
		<dict>
			<key>x</key>
			<real>1672</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>118</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_08.png</key>
		<dict>
			<key>x</key>
			<real>1792</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>118</real>
			<key>height</key>
			<real>172</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_09.png</key>
		<dict>
			<key>x</key>
			<real>828</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_10.png</key>
		<dict>
			<key>x</key>
			<real>1424</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>178</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_11.png</key>
		<dict>
			<key>x</key>
			<real>710</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_12.png</key>
		<dict>
			<key>x</key>
			<real>474</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_13.png</key>
		<dict>
			<key>x</key>
			<real>238</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_14.png</key>
		<dict>
			<key>x</key>
			<real>592</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_15.png</key>
		<dict>
			<key>x</key>
			<real>120</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_16.png</key>
		<dict>
			<key>x</key>
			<real>356</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_17.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_18.png</key>
		<dict>
			<key>x</key>
			<real>946</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>mc_19.png</key>
		<dict>
			<key>x</key>
			<real>1064</real>
			<key>y</key>
			<real>891</real>
			<key>width</key>
			<real>116</real>
			<key>height</key>
			<real>180</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>180</real>
		</dict>
		
		<key>metalpole_180.png</key>
		<dict>
			<key>x</key>
			<real>122</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>360</real>
			<key>height</key>
			<real>129</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>360</real>
			<key>originalHeight</key>
			<real>129</real>
		</dict>
		
		<key>pipe.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>304</real>
			<key>height</key>
			<real>314</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>304</real>
			<key>originalHeight</key>
			<real>314</real>
		</dict>
		
		<key>plane_180.png</key>
		<dict>
			<key>x</key>
			<real>994</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>360</real>
			<key>height</key>
			<real>329</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>360</real>
			<key>originalHeight</key>
			<real>329</real>
		</dict>
		
		<key>pulleys.png</key>
		<dict>
			<key>x</key>
			<real>238</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>350</real>
			<key>height</key>
			<real>171</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>350</real>
			<key>originalHeight</key>
			<real>171</real>
		</dict>
		
		<key>rocks_128.png</key>
		<dict>
			<key>x</key>
			<real>2</real>
			<key>y</key>
			<real>2</real>
			<key>width</key>
			<real>256</real>
			<key>height</key>
			<real>360</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>256</real>
			<key>originalHeight</key>
			<real>360</real>
		</dict>
		
		<key>rope_275.png</key>
		<dict>
			<key>x</key>
			<real>1222</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>550</real>
			<key>height</key>
			<real>147</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>550</real>
			<key>originalHeight</key>
			<real>147</real>
		</dict>
		
		<key>sign.png</key>
		<dict>
			<key>x</key>
			<real>426</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>280</real>
			<key>height</key>
			<real>191</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>280</real>
			<key>originalHeight</key>
			<real>191</real>
		</dict>
		
		<key>skull_105.png</key>
		<dict>
			<key>x</key>
			<real>1554</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>210</real>
			<key>height</key>
			<real>181</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>210</real>
			<key>originalHeight</key>
			<real>181</real>
		</dict>
		
		<key>snake_170.png</key>
		<dict>
			<key>x</key>
			<real>590</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>340</real>
			<key>height</key>
			<real>165</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>340</real>
			<key>originalHeight</key>
			<real>165</real>
		</dict>
		
		<key>snowball.png</key>
		<dict>
			<key>x</key>
			<real>1598</real>
			<key>y</key>
			<real>1411</real>
			<key>width</key>
			<real>140</real>
			<key>height</key>
			<real>107</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>140</real>
			<key>originalHeight</key>
			<real>107</real>
		</dict>
		
		<key>stone_balcony_150.png</key>
		<dict>
			<key>x</key>
			<real>1082</real>
			<key>y</key>
			<real>1073</real>
			<key>width</key>
			<real>300</real>
			<key>height</key>
			<real>164</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>300</real>
			<key>originalHeight</key>
			<real>164</real>
		</dict>
		
		<key>thunderbox_90.png</key>
		<dict>
			<key>x</key>
			<real>244</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>180</real>
			<key>height</key>
			<real>198</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>180</real>
			<key>originalHeight</key>
			<real>198</real>
		</dict>
		
		<key>totem_pole_200.png</key>
		<dict>
			<key>x</key>
			<real>990</real>
			<key>y</key>
			<real>680</real>
			<key>width</key>
			<real>400</real>
			<key>height</key>
			<real>184</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>400</real>
			<key>originalHeight</key>
			<real>184</real>
		</dict>
		
		<key>tree_150.png</key>
		<dict>
			<key>x</key>
			<real>1668</real>
			<key>y</key>
			<real>364</real>
			<key>width</key>
			<real>300</real>
			<key>height</key>
			<real>209</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>300</real>
			<key>originalHeight</key>
			<real>209</real>
		</dict>
		
		<key>tumbleweed.png</key>
		<dict>
			<key>x</key>
			<real>324</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>142</real>
			<key>height</key>
			<real>159</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>142</real>
			<key>originalHeight</key>
			<real>159</real>
		</dict>
		
		<key>tv_antenna_100.png</key>
		<dict>
			<key>x</key>
			<real>468</real>
			<key>y</key>
			<real>1247</real>
			<key>width</key>
			<real>200</real>
			<key>height</key>
			<real>157</real>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0</real>
			<key>originalWidth</key>
			<real>200</real>
			<key>originalHeight</key>
			<real>157</real>
		</dict>
		
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>2048</integer>
		<key>height</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>