<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>mc_01.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_02.png</key>
		<dict>
			<key>x</key>
			<integer>953</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_03.png</key>
		<dict>
			<key>x</key>
			<integer>659</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_04.png</key>
		<dict>
			<key>x</key>
			<integer>713</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>12.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_05.png</key>
		<dict>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>13.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_06.png</key>
		<dict>
			<key>x</key>
			<integer>378</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>8.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_07.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_08.png</key>
		<dict>
			<key>x</key>
			<integer>718</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_09.png</key>
		<dict>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_10.png</key>
		<dict>
			<key>x</key>
			<integer>535</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_11.png</key>
		<dict>
			<key>x</key>
			<integer>355</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_12.png</key>
		<dict>
			<key>x</key>
			<integer>178</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_13.png</key>
		<dict>
			<key>x</key>
			<integer>60</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_14.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_15.png</key>
		<dict>
			<key>x</key>
			<integer>851</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_16.png</key>
		<dict>
			<key>x</key>
			<integer>296</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_17.png</key>
		<dict>
			<key>x</key>
			<integer>792</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_18.png</key>
		<dict>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>mc_19.png</key>
		<dict>
			<key>x</key>
			<integer>910</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>awning_80.png</key>
		<dict>
			<key>x</key>
			<integer>484</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>91</integer>
		</dict>
		<key>balcony_180.png</key>
		<dict>
			<key>x</key>
			<integer>516</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>billboard_cut.png</key>
		<dict>
			<key>x</key>
			<integer>585</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>107</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>75</integer>
			<key>originalHeight</key>
			<integer>107</integer>
		</dict>
		<key>tv_antenna_100.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>79</integer>
		</dict>
		<key>metalpole_180.png</key>
		<dict>
			<key>x</key>
			<integer>772</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>clothesline_280.png</key>
		<dict>
			<key>x</key>
			<integer>336</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>280</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>280</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>stone_balcony_150.png</key>
		<dict>
			<key>x</key>
			<integer>194</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>totem_pole_200.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>92</integer>
		</dict>
		<key>birdhouse_120.png</key>
		<dict>
			<key>x</key>
			<integer>484</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>116</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>116</integer>
		</dict>
		<key>tree_150.png</key>
		<dict>
			<key>x</key>
			<integer>782</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>rocks_128.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>180</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>180</integer>
		</dict>
		<key>cactus_120.png</key>
		<dict>
			<key>x</key>
			<integer>671</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>hanging_chillies_275.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>plane_180.png</key>
		<dict>
			<key>x</key>
			<integer>497</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>164</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>180</integer>
			<key>originalHeight</key>
			<integer>165</integer>
		</dict>
		<key>log_160.png</key>
		<dict>
			<key>x</key>
			<integer>697</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>81</integer>
		</dict>
		<key>ice_boulder_big_200.png</key>
		<dict>
			<key>x</key>
			<integer>662</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>159</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>159</integer>
		</dict>
		<key>caveman_130.png</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>130</integer>
			<key>height</key>
			<integer>177</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>130</integer>
			<key>originalHeight</key>
			<integer>177</integer>
		</dict>
		<key>branch_120.png</key>
		<dict>
			<key>x</key>
			<integer>414</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>89</integer>
		</dict>
		<key>ice_boulder_small_120.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>147</integer>
		</dict>
		<key>snake_170.png</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>rope_275.png</key>
		<dict>
			<key>x</key>
			<integer>437</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>bone_160.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>160</integer>
			<key>originalHeight</key>
			<integer>125</integer>
		</dict>
		<key>thunderbox_90.png</key>
		<dict>
			<key>x</key>
			<integer>933</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>90</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>flagpole_100.png</key>
		<dict>
			<key>x</key>
			<integer>688</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>51</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>51</integer>
		</dict>
		<key>skull_105.png</key>
		<dict>
			<key>x</key>
			<integer>565</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>105</integer>
			<key>originalHeight</key>
			<integer>90</integer>
		</dict>
		<key>cab.png</key>
		<dict>
			<key>x</key>
			<integer>261</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>235</integer>
			<key>height</key>
			<integer>172</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>235</integer>
			<key>originalHeight</key>
			<integer>172</integer>
		</dict>
		<key>pulleys.png</key>
		<dict>
			<key>x</key>
			<integer>777</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>175</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>175</integer>
			<key>originalHeight</key>
			<integer>86</integer>
		</dict>
		<key>crane.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>118</integer>
		</dict>
		<key>sign.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>96</integer>
		</dict>
		<key>catwalk.png</key>
		<dict>
			<key>x</key>
			<integer>142</integer>
			<key>y</key>
			<integer>330</integer>
			<key>width</key>
			<integer>140</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>140</integer>
			<key>originalHeight</key>
			<integer>94</integer>
		</dict>
		<key>line.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>275</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>275</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>girders.png</key>
		<dict>
			<key>x</key>
			<integer>661</integer>
			<key>y</key>
			<integer>182</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>105</integer>
		</dict>
		<key>pipe.png</key>
		<dict>
			<key>x</key>
			<integer>863</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>152</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>157</integer>
		</dict>
		<key>beam.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>749</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>120</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>icon_freeze.png</key>
		<dict>
			<key>x</key>
			<integer>891</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>icon_jackhammer.png</key>
		<dict>
			<key>x</key>
			<integer>942</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>icon_disco.png</key>
		<dict>
			<key>x</key>
			<integer>840</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>icon_lives.png</key>
		<dict>
			<key>x</key>
			<integer>789</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>50</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>tumbleweed.png</key>
		<dict>
			<key>x</key>
			<integer>858</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>snowball.png</key>
		<dict>
			<key>x</key>
			<integer>617</integer>
			<key>y</key>
			<integer>685</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>53</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>53</integer>
		</dict>
		<key>factory_ball.png</key>
		<dict>
			<key>x</key>
			<integer>594</integer>
			<key>y</key>
			<integer>427</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>87</integer>
		</dict>
		<key>balloon.png</key>
		<dict>
			<key>x</key>
			<integer>119</integer>
			<key>y</key>
			<integer>518</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>74</integer>
			<key>originalHeight</key>
			<integer>83</integer>
		</dict>
	</dict>
</dict>
</plist>